:root {
  /* CSS HEX */
  --ash-gray: #ccdad1ff;
  --ash-gray-2: #9caea9ff;
  --battleship-gray: #788585ff;
  --dim-gray: #6f6866ff;
  --van-dyke: #38302eff;
  --textdark: #001845;
}

.quicksand-cdt {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

body {
  background-color: var(--ash-gray);
  color: var(--textdark);
  font-family: "Quicksand";
  font-size: 2vw;
 }




h1 {
  text-align: center;
  color: blueviolet;
  font-size:medium
}

h2 {
  text-align: center;
  font-style: italic;
  font-size: medium;
}

h3 {
  font-style: italic;
}

form {
  text-align: center;
}

p {
  text-align: center;
  font-size: medium;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
}

label {
  font-style: italic;
  margin-right: 1em;
  font-size:medium
}

#aiclogo {
  /*display: block;*/
  max-width: 10%;
  height: auto;
  margin-left: 2em;
  top:0;
  
}

#mainsection{
  margin-top:0;
}

input[type="text"] {
  align-items: center;
  box-sizing: border-box;
}

input[type="radio"] {
  accent-color: rgb(129, 83, 197) /* Changes the color of the radio button */
}

button {
  border: none;
  display: inline-block;
  background-color: rgb(129, 83, 197);
  color: #001845;
  font-weight: bold;
  text-align: center;
  align-self: center;
  max-width: 25%;
  border-radius: 60%;
  font-family: "Quicksand";
  margin-top: 1em;
}

.container {
  margin-top: 6em;
  margin-bottom:6em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh; /* Full viewport height */
  margin-bottom: 2em;
}

.flip-card {
  background-color: transparent;
  max-width: 50%;
  width: 32vw;
  height: 32vw;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #a47b8f;
  color: white;
  transform: rotateY(180deg);
}
